
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    padding-left: 200px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #F9FAF8;
    background-color: #420D09;
    font-size: 48px;
    font-weight: 900;
    display: flex;
   
}
.left {
    display: flex;
    justify-content: flex-start;
   
}

.right {
    display: flex;

    margin-left: auto;
}
.sandhillphoto {
    display: flex;
    flex-direction: row-reverse;
}

.header2 {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    color: #F9FAF8;
    background-color: #420D09;
    font-size: 48px;
    font-weight: 900;
    display: flex;
}

.headercolumn {
    padding-left: 100px;
    padding-right: 100px;
    color: #F9FAF8;
    background-color: #420D09;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    display: flex;
    gap: 5px;
}
a {
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
button {
    font-size: 21px;
    background-color: #50C878;
    height: 50px;
    width: 300px;
    border-radius: 15px;
    color: #E5E7EB;
    border-color: #E5E7EB;
}

.headerlogotxt {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headertxt2 {
    font-size: 18px;
    color: #E5E7EB;
}
.container {
    margin-bottom: 33px;
    display: flex;
    justify-content: center;
    gap: 33px;
   
}
.infoheader {
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    color: #420D09;


  
}

.caption {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.caption {
    text-align: center;
}
.quote {
    display: flex;
    justify-content: center;
    padding: 250px;
    background-image: url(https://images.pexels.com/photos/14261408/pexels-photo-14261408.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-size: 36px;
    font-style: light italic;
    color: #F9FAF8;
    border-bottom: 5px solid #FFBF00;
    border-top: 5px solid #FFBF00;

}

.callcontainercolumn {
    margin: 33px;
    padding: 33px;
    background-color: #420D09;
    display: flex;
    flex-direction: column;
 
  
  
}
.callcontainer {
    margin: 33px;
    padding: 33px;
    background-color: #420D09;
    display: flex;
    justify-content: space-evenly;
}

.calltxt {
    font-size: 24px;
    color: #F9FAF8;
}
.calltxt2 {
    font-size: 18px;
    color: #E5E7EB;
 
}
.footer {
    padding: 55px;
    background-color:#420D09;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-self: center;
}

/*.bigcontainer {
    display: flex;
    flex-direction: row;
} */

a:hover {
    color: #FFBF00;
}

.moveleft {
    display: flex;
    justify-content: flex-start;
}